* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic';
    background-color: #FFD42D;
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-snap-type: y mandatory;
}

body, html {
    width: 100%;
    height: 100%;
}

.preload {
    animation: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
}

.pagine {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    overflow: hidden;
}

/* Homepage */
#pagina1 {
    display: flex;
}

.background {
    font-family: 'Dosis';
    position: absolute;
    z-index: -1;
    overflow: hidden;
    font-size: 100px;
    width: 120%;
    left: -5%;
    color: #FDD844;
    height: 100vh;
    overflow: hidden;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#title {
    text-align: center;
    font-family: 'Franklin Gothic';
    font-size: 7vmax;
    color: white;
    letter-spacing: 0.116em;
    margin: auto;
}

#subtitle {
    font-size: 20px;
    letter-spacing: normal;
}

/* Ruota */

#pagina2 {
    background-color: #FFD42D;
    position: relative; /* Capire se da problemi */
}

a, a:active, a:focus {
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#description-ruota {
    color: white;
    font-size: 4vmax;
    text-align: center;
    padding-top: 10%;
}

#description-ruota div {
    font-size: 0.4em;
}

#box-preview {
    width: 35%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 2% 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}

#close {
    cursor: pointer;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 0;
    right: -10px;
    padding: 12px 17px;
    transform: translate(0%, -50%);
    font-size: 20px;
    border: none;
}

#name {
    font-size: 40px;
}

#url {
    display: block;
    padding: 2% 0 1% 0;
}

/* Animation box-preview */
.opacityOn {
    display: block !important;
    animation: opacity1 0.3s ease-in-out;
    opacity: 1;
}

.opacityOff {
    display: block !important;
    animation: opacity0 0.3s ease-in-out;
    opacity: 0;
}

@keyframes opacity1 {
    0% { display: block; opacity: 0; }
    100% { opacity: 1; }
}

@keyframes opacity0 {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}
/* --- */

#description {
    padding: 0 2%;
}

#url, #description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
}


#pagina-ruota {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
    overflow: hidden;
}

#container-ruota {
    position: relative;
    width: 500px;
    min-width: 500px;
    height: 500px;
    /*bottom: -230px;*/
    top: -10%;
}

#container-ruota::before {
    position: absolute;
    content: '↓';   /* Sembra una faccina ahahah, sono simpatico, assumetemi per favore :< */
    text-align: center;
    font-size: 20px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

#ruota {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid black;
    overflow: hidden;
    transition: all 3s ease-in-out;
}

#ruota span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.span1 {
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #FF2D2D;
    top: 120px;
    left: 0;
}

.span2 {
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-color: #3D2DFF;
    top: 120px;
    right: 0;
}

.span3 {
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: #2DFF3A;
    bottom: 0;
    left: 120px;
}

.span4 {
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-color: #2DCEFF;
    top: 0;
    left: 120px;
}

#slice2 {
    width: 100%;
    height: 100%;
    transform: rotate(-135deg);
}

#spin {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid black;
    color: black;
    background-color: #FFD42D;
}

/* Competenze */
#pagina3 {
    display: flex;
    color: white;
}

#competenze {
    font-size: 4vmax;
    margin-top: 2%;    
}

#competenze span {
    display: block;
    font-size: 0.25em;
}

#container-competenze {
    display: block;
    width: 100%;
    height: auto;
    font-size: 2vmax;
    margin-left: 4%;
}

.items-competenze {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.progress-name {
    width: 14%;
}

.progress-bar {
    width: 30%;
    height: 34px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.progress {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background-color: #DB2929;
    transition: all 0.5s ease-in-out;
    animation: loadingBarAnimation 2s linear forwards;
    transform: translateX(-100%);
}

/* Percentage of .progress: inline */

@keyframes loadingBarAnimation {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

/* Presentazione */
#pagina4 {
    display: flex;
    position: relative;
    background-color: #FFD42D;
}

#presentazione {
    width: 65%;
    margin: auto 0 0 0;
    margin-left: 2%;
    color: white;
    font-size: 3.6vmax;
    margin-bottom: 0;
}

#presentazione span:first-child {
    font-size: 6vmax;
}

img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
}

/* Contatti */
#pagina5 {
    display: flex;
    position: relative;
}

#text-contact {
    position: absolute;
    font-size: 4vmax;
    text-align: center;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#container-contact {
    display: flex;
    max-width: 90%;
    margin: auto auto 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    margin-bottom: 3%;
    margin-top: auto;
}

.items-contact {
    display: flex;
    width: 500px;
    height: 400px;
    border: 1px solid black;
    font-family: 'Impact';
    font-size: 3vmax;
    color: white;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    transition: all 0.8s linear;
    background-color: #FFD42D;
    cursor: pointer;
    text-align: center;
    flex-direction: column;
    transition: all 0.6s ease-in-out;
}

.items-contact:hover {
    flex-grow: 4;
    background-color: #121212;
}

.items-contact:nth-of-type(2) {
    margin: 0 1%;
}

.subtitle-contact {
    font-size: 0.4em;
    opacity: 0;
    animation: disableSubtitles 0.6s ease-in-out forwards;
    overflow: hidden;
    margin-top: 2%;
}

.items-contact:hover span {
    animation: showSubtitles 0.6s ease-in-out forwards !important;
}

@keyframes showSubtitles {
    0% { height: auto; opacity: 0; }
    100% { opacity: 1;  }
}

@keyframes disableSubtitles {
    0% { opacity: 1;}
    99% { height: auto; }
    100% { opacity: 0; height: 0%; }
}

/* Responsive */
@media (max-width: 575.98px)
{
    #box-preview {
        width: 65%;
        padding: 8% 0;
        transform: translate(-50%, -100%);
    }

    #name {
        font-size: 30px;
    }

    #url, #description {
        font-size: 18px;
    }

    #close {
        padding: 8px 13px;
    }

    #container-ruota {
        transform: scale(0.6);
    }

    #spin {
        font-size: 18px;
    }

    #container-competenze {
        font-size: 2.4vmax;
    }

    #competenze {
        font-size: 6vmax;
    }

    #competenze span {
        font-size: 0.3em;
    }

    .items-competenze {
        margin-top: 10%;
    }

    .progress-name {
        width: 25%;
    }

    .progress-bar {
        width: 65%;
    }

    #presentazione {
        font-size: 3.75vmax;
    }

    #presentazione span:first-child {
        font-size: 9vmax;
    }

    img {
        width: 25%;
    }

    #container-contact {
        flex-direction: column;
    }
  
    .items-contact:nth-of-type(2) {
        margin: 1% auto;
    }
  
    .items-contact {
        width: 300px;
        height: 200px;
    }
  
}

@media (max-width: 575.96px) and (max-height: 766px)
{
    #container-contact {
        padding-top: 50%;
    }
}

@media (max-width: 769px)
{
    #box-preview {
        width: 48%;
        padding: 4% 0;
        top: 40%
    }

    #competenze {
        font-size: 5vmax;
    }

    #competenze span {
        font-size: 0.3em;
    }

    .progress-name {
        width: 25%;
    }

    .progress-bar {
        width: 40%;
    }

    .items-competenze {
        margin-top: 6%;
    }

    #container-competenze {
        font-size: 2.5vmax;
    }

    #presentazione {
        font-size: 4.8vmax;
    }

    #presentazione span:first-child {
        font-size: 8vmax;
    }
}

@media (max-width: 991.98px)
{
    
}

@media (max-width: 1199.98px)
{
    
}

@media (max-width: 1399.98px)
{
    
}

