<!DOCTYPE html>
<html>
    <head>
        <title>Nome progetto</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="template.css" />
        <link rel="stylesheet" type="text/css" href="../../universal.css" />
    </head>

    <body>
        <div class="project-name">Nome progetto</div>

        <div class="links">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
            </svg>
            <a href="" target="_blank">Codice sorgente</a>
        </div>

        <div class="links" style="margin-top: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
            </svg>
            <a href="" target="_blank">Sito</a>
        </div>

        <!-- <div class="image-preview"></div> -->

        <img src="../../img/test.png" class="image-preview"/>

        <div class="project-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec massa sapien faucibus et. Euismod nisi porta lorem mollis aliquam. Cras semper auctor neque vitae tempus. Adipiscing diam donec adipiscing tristique risus nec. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Adipiscing bibendum est ultricies integer quis auctor elit sed. Consequat mauris nunc congue nisi vitae suscipit. Mauris a diam maecenas sed enim ut sem viverra aliquet. Nulla facilisi cras fermentum odio eu feugiat. Tortor pretium viverra suspendisse potenti.<br /><br />
            
            Diam sit amet nisl suscipit adipiscing. Et egestas quis ipsum suspendisse ultrices gravida dictum. Orci phasellus egestas tellus rutrum tellus pellentesque eu. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Quam nulla porttitor massa id neque aliquam vestibulum morbi blandit. Hendrerit gravida rutrum quisque non tellus. Elementum facilisis leo vel fringilla. Aenean pharetra magna ac placerat vestibulum lectus. Augue mauris augue neque gravida in fermentum et. Non odio euismod lacinia at quis risus. Vel risus commodo viverra maecenas. Fames ac turpis egestas sed tempus urna et pharetra pharetra. Lacinia at quis risus sed vulputate odio. Duis at consectetur lorem donec massa sapien faucibus et. Sagittis aliquam malesuada bibendum arcu vitae.</div>
    </body>
</html>